<main>
    <h2>Get in Touch</h2>
    <div class="contact-section">
        <div class="contact-item">
            <h3>Address</h3>
            <p>ACET College</p>
            <p>Shollingnallur</p>
            <p>Chennai, Tamil Nadu, 600119</p>
        </div>
        <div class="contact-item">
            <h3>Contact & Enquiry</h3>
            <p>Phone: +91-9876543210</p>
            <p>Email: contact&#64;acetcollege.edu</p>
        </div>
        <div class="contact-item">
            <h3>Social Media</h3>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">twitter</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <a href="https://linkedin.com" target="_blank">Linkdin</a>
            </div>
        </div>
    </div>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.750156759374!2d106.65574691462198!3d10.762622292331837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f17f3ba02b1%3A0x3b2d769de6e5ecf1!2sHo%20Chi%20Minh%20City%20University%20of%20Technology!5e0!3m2!1sen!2s!4v1612984856130!5m2!1sen!2s" allowfullscreen></iframe>
    </div>
</main>