<nav>
  <div class="logo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXw4j85ijDTUYE6B4bV1vEu8HfT7fRofC-ZQ&s" alt="Logo">
  </div>
  <ul>
    <li><a routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="about" routerLinkActive="active">About</a></li>
    <li><a routerLink="gallery" routerLinkActive="active">Gallery</a></li>
    <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="sign-in" routerLinkActive="active">Sign In</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>

<footer class="footer">
  <div class="logo">
    <img src="https://cdn.sanity.io/images/kts928pd/production/c2fcbae1ac2dcdbf24af1e394b95cde0635cbc70-731x731.png" alt="College Logo">
    <div class="copyright">
      Copyright &copy; 2024 ACET
    </div>
  </div>
  
  <div class="address">
    <p>ACET, Chennai</p>
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
      <a href="https://wa.me/1234567890" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
      <a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  
  <div class="approved">
    <p>Approved & Affiliated by</p>
    <img src="https://upload.wikimedia.org/wikipedia/en/e/eb/All_India_Council_for_Technical_Education_logo.png" alt="Affiliated Logo">
    <img src="https://cdn.sanity.io/images/kts928pd/production/c2fcbae1ac2dcdbf24af1e394b95cde0635cbc70-731x731.png" alt="Affiliated Logo">
  </div>
</footer>