<div class="container">
  <nav>
    <ul>
      <li><a href="deptpage" routerLinkActive="active">Staff Home Page</a></li>
      <li><a href="aboutdept" routerLinkActive="active">About their Department</a></li>
      <li><a href="deptstafftopper" routerLinkActive="active">Department Toppers</a></li>
      <li><a href="sign-in" routerLinkActive="active">Logout</a></li>
    </ul>
  </nav>
  <a href="deptstaffatt" class="link-button">Click here for attendance entry</a><br>
  <a href="deptstaffmarks" class="link-button">Click here for marks entry</a>
</div>
<br><br><br><br><br>

  <router-outlet></router-outlet>