<div class="marquee">
    <div class="marquee-text">
        🎓 Admissions are now open for the new academic year! Apply today and join our vibrant college community. 🎓 | 🚀 Explore a world of opportunities with our diverse programs and experienced faculty. Enroll now and shape your future with us! 🚀 | 🌟 Don't miss out on our early-bird registration discounts. Secure your spot today and be part of our growing family! 🌟
    </div>
</div>
<div class="info-bar">
    <a href="registration" routerLinkActive="active">Click here to register</a>
    <a href="track" routerLinkActive="active">Track registered application</a>
</div>

<div class="image-gallery">
    <img src="https://res.cloudinary.com/highereducation/image/upload/w_740,h_416,c_fill,f_auto,fl_lossy,q_auto/v1/TheBestSchools.org/texas-am-kyle-field.jpg" alt="Image 1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA_qCiFdcUw8Xiob1rAVJZUB-R_FEx3p2NMA&s" alt="Image 2">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_S2zbMHra3ZBc54iwgKciucztzp4DG_nrXQ&s" alt="Image 3">
</div>

<br><br>
<div class="main-container">
    <div class="container-1">
        <h5>Counselling code-8120</h5>
        <div class="line"></div>
        <p>Engineering Programmes B.E./B.Tech 4 years M.E. 2 years</p>
        <div class="line"></div>
        <div class="boxes">
            <div class="box">
                <p>27 years in education</p>
            </div>
            <div class="box">
                <p>587 offers 2023-24</p>
            </div>
            <div class="box">
                <p>Over 67 recruiters</p>
            </div>
        </div>
        <div class="line"></div>
        <p>Phone: 9876543210</p>
        <div class="line"></div>
    </div>
    <div class="container-2">
        <h5>Alumni Speak</h5>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=rOYuYqwjbP8" allowfullscreen></iframe>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>